
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

// Color variables
$white: #ffffff;

$primary: #8bc34a;
$success: #58db83;
$info: #7a6fbe;
$warning: #f5b225;
$danger: #ec536c;
$dark: #2a3142;
$muted: #707070;


// Gray Colors
$gray-100:                  #f8f9fa;
$gray-200:                  #e9ecef;
$gray-300:                  #dee2e6;
$gray-400:                  #ced4da;
$gray-500:                  #adb5bd;
$gray-600:                  #6c757d;
$gray-700:                  #495057;
$gray-800:                  #343a40;
$gray-900:                  #212529;

$bg-body: #f5f5f5;
$left-bar: #2b3a4a;

$font-family: 'Poppins', sans-serif;

$shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);;

$base-font: 13px;

// Width variables
$width: 100%;

// Height variables
$height: 100%;

$leftbar-menu-color: #8699ad;
$leftbar-menu-hover-color: #ffffff;
$leftbar-menu-active-color: #ffffff;