.bg-pink{
  background: linear-gradient(to bottom right, #e36cd9 0%, #fe60ae 100%);
}
.bg-orange{
  background: linear-gradient(to bottom right, #fda23f 0%, #f48665 100%);
}
.bg-purple{
  background: linear-gradient(to bottom right, #d78afd 0%, #9a56ff 100%);
}
.bg-green{
  background: linear-gradient(to bottom right, #43e794 0%, #23bdb8 100%);
}
.validation-error-label {
    /* margin-top: 5px; */
    margin-bottom: 5px;
    display: block;
    color: #F44336;
    position: relative;
    font-weight: 500;
}
.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
    padding: 0.5rem 1.5rem;
}
.table .btn{
	padding: .1rem .75rem;
	width: 4rem;
}
.navbar-custom .dropdown-menu.dropdown-menu-right.profile-dropdown.show{
	transform: translate3d(-53px, 60px, 0px) !important;
	width: 186px;
}
.swal2-modal .swal2-title{
    line-height: 50px;
}
.navbar-custom #header-user{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 12px;
    border-radius: 5px;
    background: #f5f5f5;
    font-size: 16px;
}
.navbar-custom .notification-list .nav-link{
    line-height: 3;
}
.navbar-custom .nav-user:hover{
    color: #707070 !important;
}
.page-title-box .breadcrumb a {
    color: #707070ab !important;
}

.breadcrumb-item.active {
    color: #8bc34a !important;
}
.lu-bg{
  background-color:  #121010 !important /* For browsers that do not support gradients */
  /* background-image: linear-gradient(90deg, #894C48, #DF9276 ) !important; /* Standard syntax (must be last) */ 
}
.lu-color{
    color: #8bc34a !important;
}
.side-menu{
    background: #ffffff;
    font-weight: bold;
}
#sidebar-menu > ul > li > a.active, .submenu li.active > a.active{
    color:#FFF;
    background-color: #4D5858;
    border-start-end-radius: 7px;
    margin-right: 28px;
    border-bottom-right-radius: 55px;
    border-left: 7px solid #8bc34a!important;
}
.submenu li.active > a.active:hover{
    color: #8bc34a;
    background-color: #8bc34a42;
}
.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a {
    margin-right: 1px;
}

.enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:hover, .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:active, .enlarged #wrapper .left.side-menu #sidebar-menu > ul > li > a:focus {
    color: #8bc34a;
    background-color: #8bc34a42;
}

#sidebar-menu > ul > li > a{
     font-weight: bold;
}
.enlarged #wrapper #sidebar-menu ul ul {
    background-color: #ffffff;
}
#sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active, #sidebar-menu .submenu > li > a:hover, #sidebar-menu .submenu > li > a:focus,sidebar-menu .submenu > li > a:active{
    color: #4D5858 !important;
    background-color: #CFFF03;
    border-start-end-radius: 7px;
    margin-right: 28px;
    border-bottom-right-radius: 55px;
}
#sidebar-menu .submenu > li > a.active:hover{
    background-color: #8bc34a42;
}
.btn-primary, .bg-primary{
    background-color:  #8bc34a !important; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(90deg, #8bc34a, #DF9276 ) !important; /* Standard syntax (must be last) */ */
    border: 1px solid #8bc34a;
}
.widget-user .widget-user-desc::after{
    border-top-color: #8bc34a;
    border-right-color: #8bc34a;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary, .btn-outline-primary.active, .btn-outline-primary:active, .show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle{
    border: 1px solid #8bc34a;
}
.page-link:focus, .btn-primary.focus, .btn-primary:focus, .btn-outline-primary.focus, .btn-outline-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 2px #63339540;
}
.profile-avatar {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0px auto;
    border: 4px solid #dee2e6;
    border-radius: 50%;
}
.form-group label.required:after {
  content:"*";
  color: #ec536c;
}

/* Oct */
.alert  p{
    margin-bottom: 0;
}
.enlarged #wrapper .left.side-menu #sidebar-menu ul > li:hover > a{
    color: #8bc34a;
    background-color: #ffffff;
}

.paginate_button a{
    border-radius: 50% !important;
    margin: 1px;
}

.pagination .previous a,.pagination .next a{
    border: none !important;
}
.page-link:focus{
    box-shadow: none !important;
}

.page-link:focus, .page-link:hover {
    background-color: #8bc34a42;
}

.topbar .topbar-left{
    height: 75px !important;
}
