
@media only screen and (max-width: 1920px) {
.schedule-scroll .container-fluid {max-width: 1500px;}
.quiz-steps .block .info-block:before{transform: rotate(-46deg);}
}
@media only screen and (max-width: 1760px) {
.left-tickets .ticket-text .font-45 {font-size: 42px;}
.left-tickets .ticket-text .font-45  .font-100 {font-size: 95px;}
.left-tickets .ticket-text .numb {margin: 0 40px;}
}
@media only screen and (max-width: 1713px) {
.menu nav ul li a {min-width: 290px;}
.menu .navbar .logo-wrapper .navbar-brand .font-70 {font-size: 65px;}
}

@media only screen and (max-width: 1670px) {
.menu .navbar .logo-wrapper .navbar-brand .font-70 {font-size: 60px;}
.menu .navbar .logo-wrapper .navbar-brand span{padding-left:10px !important;}
}
@media only screen and (max-width: 1650px) {
.font-70 {font-size: 60px;}
.font-40 {font-size: 38px;}
h4{font-size:22px;}

}

@media only screen and (max-width: 1606px) {
.menu .right-menu ul li a{padding:0 20px !important;font-size:30px;min-width: 260px;}
.menu .navbar .logo-wrapper .navbar-brand span{padding-left:8px !important;}
}



@media only screen and (max-width: 1570px) {
.quiz-steps .block .info-block .date {min-height: 170px;}
.quiz-steps .block .info-block .date .numb{font-size:60px;}
.quiz-steps .block .info-block .date .month{font-size: 45px;}

.quiz-steps .block .info-block:before {transform: rotate(-45deg);}
}
@media only screen and (max-width: 1550px) {
.font-70 {font-size: 50px;}
.font-40 {font-size: 35px;}
.font-30 {font-size: 28px;}
.font-20 {font-size: 18px;}
h4{font-size:20px;}
.menu .right-menu ul li a {min-width: 240px;}
}

@media only screen and (max-width: 1440px) {

.menu nav ul li a {min-width: 260px;padding: 0 20px !important;}

.navbar {padding: 10px 25px;}
.quiz-steps .block .info-block:before {transform: rotate(-48deg);}

.schedule-scroll.pt150{padding-top:60px;}
.event-schedule .schedule-scroll .block .name-block{min-height:170px;}
.menu .navbar .logo-wrapper .navbar-brand .font-70 {font-size: 50px;}
.menu .right-menu ul li a {min-width: 200px;}
.pt150 {padding-top: 60px;}
.pt100{padding-top:60px;}
.rewards-area .img-wrapper a img{max-width:80%;}

.left-tickets .ticket-text .font-45 {font-size: 25px;}
.left-tickets .ticket-text .font-100 {font-size: 45px;}
.left-tickets .ticket-text .numb {margin: 0 30px;}
.tickets.spro-slider{margin-top:0px !important;}
.slick-track {top: 200px!important;}
.image {min-height: 240px;}
.image img{max-height:200px;}
.tickets.pro-slider .slider .text-wrapper .font-35 {font-size: 20px;}
.tickets.pro-slider .slider .text-wrapper .font-45 {font-size: 25px;}
.increaseNumb, .decreaseNumb {height: 50px;}
.tickets.pro-slider {margin-top: -15px !important;}
.tickets.pro-slider .numbSelector{padding-bottom:5px;}
.tickets.pro-slider .progress {bottom: -20px;}
.progress{bottom:0px;}
.quiz-steps .block .info-block:before{left: -20px;right: -20px;width: calc(100% + 40px);}
.quiz-steps .block .info-block .date .numb {font-size: 48px;}
.quiz-steps .block .info-block .date .month {font-size: 42px;}
.quiz-steps .quizs .font-35 {font-size: 28px;}
.quiz-steps .block .info-block .date {min-height: 140px;}
}

@media only screen and (max-width: 1409px) {
.language-wrapper a img {position: absolute; left: -20px;}
}

@media only screen and (max-width: 1330px) {
.quiz-steps .block .info-block .date {min-height: 130px;}
.quiz-steps .block .info-block .date .numb {font-size: 50px;}
.quiz-steps .block .info-block .date .month {font-size: 35px;}
}
@media only screen and (max-width: 1380px) {
.menu .navbar .logo-wrapper .navbar-brand span {margin-left: 10px !important;}
}

@media only screen and (max-width: 1315px) {
.font-70 {font-size: 40px;}
.font-40 {font-size: 30px;}
.font-30 {font-size: 25px;}
.menu .navbar .logo-wrapper .navbar-brand .font-70 {font-size: 40px;}
.menu .right-menu ul li a {font-size:25px;}
}


@media only screen and (max-width: 1225px) {
.font-70 {font-size: 35px;}
}

@media only screen and (max-width: 1199px) {
.container-fluid{padding: 0 40px;}
.event-schedule .schedule-scroll .block .info-block .date .font-24{font-size:22px;}
.event-schedule .schedule-scroll .block .info-block .time.font-22{font-size:20px;}
.event-schedule .schedule-scroll .block .font-40 {font-size: 25px;}
.event-schedule .schedule-scroll .block .name-block {min-height: 160px;}

.quiz-steps.pt300{padding-top:200px;}

.font-35{font-size:30px;}
.font-90{font-size:80px;}
.quiz-steps .block .font-90{font-size:50px;}

.navbar-brand img{width:65px;}
.menu nav ul li a {min-width: 220px;}
.menu nav ul li a img{width: 30px;}

.font-50 {font-size: 35px;}
.font-40 {font-size: 30px;}
.font-30 {font-size: 22px;}
.font-28 {font-size: 20px;}
.font-22 {font-size: 18px;}
h4 {font-size: 20px;}

.quiz-area{height:100% !important;}
.product_slider{height:100% !important;}
.progress {bottom:-50px;}

.quiz-steps .block .info-block:after{transform: rotate(-50deg);}
.quiz-steps .block .info-block .date {min-height: 110px;}
.quiz-steps .block .info-block .date .numb {font-size: 38px;}
.quiz-steps .block .info-block .date .month {font-size: 28px;}
.quiz-steps .block .info-block:before {transform: rotate(-51deg);}

.event-center .language-wrapper a img{left:-35px;top:-5px;}
.live-area .video-block {height: 450px;}
.result-scroll .winner-slot>.container>.row {height: 450px;}
.slider .text-wrapper {min-height: 90px;}
}
@media only screen and (max-width: 1112px) {
.event-schedule .schedule-scroll .block .info-block .date {min-width: 85px;width:85px;}
}

@media only screen and (max-width: 1110px) {
.menu nav ul li a {min-width: 200px;}
.bottom-part .language-wrapper a img {padding-right: 15px;}
.event-schedule .schedule-scroll .block .info-block .time.font-22{font-size: 18px;}
}


@media only screen and (max-width: 1089px) {
.menu nav ul li a {padding: 0 10px !important;}
.language-wrapper a{padding-left: 30px;}
.language-wrapper a img{left:0px;}
.right-container .bottom-part .logout{font-size:15px;}
.right-menu ul {margin-right: 15px;}
.menu .navbar .logo-wrapper .navbar-brand .font-70 {font-size: 34px;}
h4 {font-size: 18px;}
.progress {bottom: -30px;}
}


@media only screen and (max-width: 1070px) {
h4 {font-size: 16px;}
.font-40 {font-size: 25px;}
.font-20 {font-size: 15px;}
.font-45 {font-size: 40px;}
}

@media only screen and (max-width: 1047px) {
.right-menu .right-container .account a img{max-width:60%;}
.right-menu .right-container .bottom-part .logout{padding: 5px 10px !important;}
.bottom-part .language-wrapper a img {padding-right: 10px}
h4 {font-size: 14px;}

.quiz-steps .block .info-block .date {min-height: 110px;}
.quiz-steps .block .info-block .date .numb {font-size: 36px;}
.quiz-steps .block .info-block .date .month {font-size: 26px;}
}


@media only screen and (max-width: 1024px) {
	.container-fluid {padding: 0 30px;}
.navbar {padding: 10px 30px;}
.event-schedule .schedule-scroll .block .info-block .time.font-22 {font-size: 18px;}
.font-300 {font-size: 200px;}
.winner-slot .winner-box .font-40{font-size:20px;}
.font-50 {font-size: 30px;}
.font-30 {font-size: 20px;}
.font-28 {font-size: 18px;}
.font-22 {font-size: 16px;}
.font-20 {font-size: 13px;}
h4 {font-size: 12px;}

.bottom-part .language-wrapper a img {padding-right: 5px;left:-5px;}
.right-menu .right-container .account img {max-width: 50%;}
.menu nav ul li a {min-width: 110px;font-size: 14px;padding: 5px 15px !important;}

.right-container .dropdown-menu {left: -30px;}

.tickets.pro-slider{margin-top: 0px;}

.right-container .bottom-part .language-wrapper .font-30{font-size:15px;}
.right-container .bottom-part .logout{font-size:10px;}

.navbar .navbar-brand .font-70 {font-size: 26px;}

.pt100 {padding-top: 80px;}
.event-step-first{padding-top:150px;}
.quiz-steps .msg-container .msg-content{left:20px;right:20px;}
.menu .right-menu ul li a {min-width: 190px;}
.event-step-first .block a {min-height: 250px !important;}
}

@media only screen and (max-width: 991px) {
.menu .right-menu ul li a {min-width: 170px;font-size:21px;padding: 5px 10px!important;}
.right-menu ul {margin-right: 10px;}
.menu .navbar .logo-wrapper .navbar-brand .font-70 {font-size: 32px;}
.quiz-steps .block .info-block:after {transform: rotate(-23deg);}
.live-area .video-block .img-wrapper{height:450px;}
.quiz-steps .block .info-block:before{left:0;right:0;transform: rotate(-20deg);width: auto;}
.menu .right-menu ul li a sup {top: -0.2em;}
.event-step-first .block a {min-height: 200px !important;}
.right-menu .right-container .account a img{max-width:50%;}
}

@media only screen and (max-width: 891px) {
.menu .navbar .logo-wrapper .navbar-brand span {margin-left: 5px !important;}
.menu .right-menu ul li a {min-width: 150px;font-size: 16px;}
.image img{max-width:80%;}
}


@media only screen and (max-width: 850px) {
.quiz-steps .block .info-block:after {transform: rotate(-28deg);}
}
@media only screen and (max-width: 835px) {
.menu .navbar .logo-wrapper .navbar-brand .font-70 {font-size: 26px;}
}

@media only screen and (max-width: 792px) {
.right-menu .right-container .bottom-part .logout {padding: 5px !important;}

}

@media only screen and (max-width: 792px) {
.navbar-brand img {width: 55px;}
.menu .right-menu ul li a {min-width: 130px;}
.right-menu .right-container .bottom-part .logout {padding: 5px 10px!important;}
.event-step-first .block .text-wrapper.font-35 {font-size: 20px;}
}


@media only screen and (max-width: 767px) {

.pt350 {padding-top: 100px;}
.rewards{height:100% !important;}
.quiz-steps .block .info-block:after {transform: rotate(-26deg);}
.winner-slot .winner-prize{text-align: center;}
/*.winner-slot .img-wrapper{margin-bottom:30px;}*/
.quiz-steps.pt100{padding-top:0px;}
.winner-slot{background-color: transparent;border:none;}
.winner-slot .winner-prize p{font-size:25px;}
.winner-slot .winner-box .font-40{font-size:30px;}

.pro-slider .image{min-height:410px;}
.progress {bottom: -50px;}

.right-container .dropdown-toggle img {width: 40px;}
.bottom-part .logout {font-size: 10px;}
.right-menu ul li a {font-size: 10px !important;}
.menu nav ul li a img {transform: scale(0.5);}
.menu nav ul li a {padding: 0 5px !important;}

.event-schedule .menu .event-text span {font-size: 60px;}
.menu .event-text:before {transform: scale(0.6);right: -45px;}
.event-schedule .right-container .account a img {width: 45px;}

.menu{top:0px;margin-bottom: 30px;}
.pt100 {padding-top: 50px;}

.event-center{padding:0 50px !important;}

.launch-block .btn-wrapper a{width: auto;height: auto;}
.launch-block .btn-wrapper a:hover,.launch-block .btn-wrapper a:focus{transform: scale(1.1);}
.navbar{justify-content: center !important;}
.navbar-brand{padding-top: 0px;}
.navbar-brand img{display: none;}
.navbar,.menu .log-in-area{padding: 10px 15px;height: 70px;}
.event-schedule .menu .logo-wrapper{display:none;}
.menu .right-container h4,.menu .right-container .bottom-part{display: none !important;}
.schedule-scroll{display: none;}
.menu .log-in-area, .mobile-schedule{display: block !important;}
.menu .event-grey span, .menu .event-yellow span {top: 0px;font-size:30px !important;}

.menu .log-in-area{padding:0 15px 0 20px !important;}
.menu .right-menu{position: absolute;right:20px;}
.log-in-content .date-time p{font-size: 20px;}
.log-in-content .navbar-brand .font-70{font-size:25px;}
.log-in-content .navbar-brand .font-90 {font-size: 32px;} 
.container-fluid {padding: 0 20px;}
/*.mobile-schedule .block:before{content: ""; position: absolute; right: -15px; width: 44px; height: 44px; background: url(../images/plus-yellow.png) no-repeat;background-size:50%; top: 10px;}
.mobile-schedule .block .info-block .line {width: 100%; height: 1px; background-color: #CFFF03; max-width: 98px; transform: rotate(-45deg);}
*/

.quiz-steps .winner-slot #textButton {display: block !important;}

.mobile-schedule  .block:before{content: ""; position: absolute; right: -15px; width: 44px; height: 44px; background: url(../images/plus-yellow.png) no-repeat;background-size:50%; top: 10px;}
.mobile-schedule  .block .info-block .date {min-width: 110px; position: relative; width: 130px;}
.mobile-schedule  .block .info-block .date .numb {padding-left: 10px;} 
.mobile-schedule  .block .info-block .line {width: 100%; height: 1px; background-color: #CFFF03; transform: rotate(-40deg);}

.mobile-schedule .block:hover,.mobile-schedule .block:hover .date{border:1px solid #CFFF03;}
.mobile-schedule .block:hover .info-block .date .numb,.mobile-schedule .block:hover .info-block .date .month{color: #ffffff;}
.mobile-schedule .block:hover .info-block .line{background-color: #ffffff;}

.right-container .dropdown-menu{left:-110px;}
.right-menu .right-container .account img {max-width: 80% !important;}

.event-prev-icon {display: block !important; left: 10px; top: 0;}
/*.event-prev-icon:before {content: ""; position: absolute; left: 10px; top: 0; background: url(../images/prev-grey.png) no-repeat; width: 68px; height: 70px; transform: scale(0.7);}*/
 .event-prev-icon:before {content: "";position: absolute;left: 5px;top: 50%; background: url(../images/prev-grey.png) no-repeat; width: 68px; height: 70px;transform: translateY(-50%) scale(0.4);}

.eg-yellow .event-prev-icon:before {background: url(../images/prev-white.png) no-repeat;}

.font-45 {font-size: 28px;}
.font-60 {font-size: 30px;}
.font-70 {font-size: 25px;}
.font-90 {font-size: 40px;}
.font-300 {font-size: 110px;}


.eg-grey a.login-text:hover{color: #4D5858;}
.eg-grey .navbar-brand,.eg-yellow .navbar-brand{line-height: normal;}
.eg-grey .log-in-area .date-time p{color:#4D5858;}

.eg-yellow a.login-text{color: #CFFF03;}

.log-in-content .login-text .user-name:before {content: ""; position: absolute; right: -55px; top: -20px; background: url(../images/plus-grey.png) no-repeat; background-size:55%;width: 44px; height: 44px; }
.eg-yellow .log-in-content .login-text .user-name:before {background: url(../images/plus-yellow.png) no-repeat;background-size: 55%;}

.event-steps{height:100% !important;}
.event-grey .font-70,.event-yellow .font-70{font-size: 35px;}

.more-detail-block{display: block !important;}
.more-detail-block .click-more {background-color: rgba(255,255,255,0.46);}
.click-more .left-one .font-70{font-size: 40px;}
.click-more .left-one .font-100{font-size: 40px;}
.more-detail-block .click-more .map-area {border: 10px solid #4D5858;height: 420px;}
.more-detail-block .click-more .map-area iframe{height:400px;}

.mobile-btn-wrapper a{min-width: 200px;}
.mobile-btn-wrapper a.btn-grey{border:1px solid #CFFF03;}

.mobile-ticket-allocate .numbValue{background-color: transparent;width: 85px;min-width: 30px;color: #ffffff;-webkit-text-fill-color: #4D5858;-webkit-text-stroke-width: 2px;-webkit-text-stroke-color: #ffffff;font-size:40px;}


.mobile-ticket-allocate .item .numbers .numb{color: #ffffff; -webkit-text-fill-color: #4D5858; -webkit-text-stroke-width: 3px; -webkit-text-stroke-color: #ffffff;}
.event-schedule .login-text{display: none;}

.mobile-earn-ticket .text-container {background-color: rgba(255,255,255,0.46);}
.ticket{height:100% !important;}
.quiz-steps .video-content{padding:20px; background-color: rgba(255,255,255,0.46);}

.mobile-btn-wrapper a img{transform: scale(0.8);}

.event-center {background: rgb(207,255,3);background: linear-gradient(to bottom, rgba(207,255,3,0.97) 0%, rgba(212,243,2,0.95) 30%, rgba(227,212,1,0.97) 85%, rgba(250,162,0,0.98) 100%, rgba(255,154,0,1) 100%);}

.mobile-ticket-allocate .item .text-wrapper .font-35 {font-size: 25px;}
.mobile-ticket-allocate .item .text-wrapper .font-45 {font-size: 28px;}

.rewards-area .img-wrapper p{text-align: center !important;padding-left: 0px !important;margin-left: 0px !important; font-size: 40px;}
.mobile-ticket-allocate .item .text-container{max-width: 220px;}
.mobile-ticket-allocate .item .text-container p{font-size:33px;}
.event-center .language-wrapper{display: none;}

.event-schedule.eg-yellow .event-text{padding-left: 25px;}
.right-container .account a{position: relative;right:-10px;outline: none;}
.right-container .account a:hover,.right-container .account a:focus{outline: none;}

.event-center .language-wrapper.mobile{display: block !important;top:30px;}
.event-center .language-wrapper.mobile a{color:#4D5858;}
.event-center .language-wrapper a img{left:-10px;}
.more-detail-block .click-more .icon-text img{transform: scale(0.7);}
.event-step-first.pt150{padding-top:50px;}
.event-step-first .block a img{max-width: none;width:75%;}
.event-step-first .block a{height:210px;}
.mobile-view-live{display: block;}

/*LATEST*/
.live-area .video-block {height: 310px;}
}

@media only screen and (max-width: 575px) {
.menu{margin-bottom:20px;}
.font-300 {font-size: 75px;}
.quiz-steps .block .info-block:after {transform: rotate(-35deg);}
.pt150 {padding-top: 70px;}
.click-more .left-one .font-70 {font-size: 25px;}
.font-60 {font-size: 25px;}
.click-more .left-one .font-100 {font-size: 25px;}
.more-detail-block .click-more .map-area {height: 340px;}
.more-detail-block .click-more .map-area iframe {height: 320px;}
.live-area .video-block .img-wrapper,.video-block .img-wrapper {height: 350px;}
.h-550{height:350px;}
.quiz-steps .block .info-block:before {transform: rotate(-33deg);left: 0px;right: 0px;}
.quiz-steps .block .info-block .date {min-height: 120px;line-height: 100px;}

.quiz-steps .block .info-block:before{left:0;right:0;transform:rotate(-16deg);}

.rewards-area .img-wrapper a img{max-width:80%;}
.ticket-wrapper .ticket-container .img-wrapper{text-align: center;}
.mobile-ticket-allocate .click-down img{max-width: 70%;}
.choose-filter .click-down img{max-width: 70%;}

.ticket-area .ticket-img img{max-width:80%;}
.winner-slot .winner-box .font-40 {font-size: 24px;}

#loader img{width: 250px;}

.ticket-wrapper .ticket-container .font-300 {font-size: 100px;}
.quiz-steps .winner-slot .click-down img{max-width:70%;}

.more-detail-block .click-more .left-one .font-60 {font-size: 20px;}
.more-detail-block .click-more .left-one p{margin-bottom: 10px;}
.event-step-first .block a img{max-width:70%;}
.event-step-first .block .text-wrapper {font-size:20px;}
.event-step-first .block a{height: auto;min-height: 150px !important;}
#loader .text-wrap .font-35 {font-size: 25px;}
}

@media only screen and (max-width: 450px) {
.h-550 {height: 250px;}
.live-area .video-block .img-wrapper, .video-block .img-wrapper {height: 250px;}
.quiz-steps .block .info-block:before {transform: rotate(-22deg);}
.event-step-first .block a {min-height: 130px!important;}
}

@media only screen and (max-width: 400px) {
.live-area .video-block .img-wrapper{height:300px;}
.winner-slot .winner-prize .font-25{font-size:17px;}	
.winner-slot .winner-prize .font-40{font-size:18px;}
.winner-slot .winner-prize {text-align: left;}
.winner-slot .winner-box .font-40 {font-size: 23px;}
#loader img{width: 180px;}
#loader .text-wrap .font-35 {font-size: 16px;}
}
@media only screen and (max-width: 380px) {
.event-schedule .menu .event-text span {font-size: 40px;}
.log-in-content .navbar-brand .font-70 {font-size: 18px;}
.log-in-content .navbar-brand .font-90 {font-size: 26px;}

.font-35 {font-size: 20px;}
.font-40 {font-size: 18px;}
.font-45 {font-size: 20px;}
.font-70 {font-size: 20px;}
.font-90 {font-size: 30px;}
.font-300 {font-size: 60px;}

body.loading {background-size: 80%;}
.log-in-content .date-time p {font-size: 18px;}
.log-in-content .navbar-brand .font-90 {font-size: 22px;}
.click-more .left-one .font-70 {font-size: 20px;}
.click-more .left-one .font-60 {font-size: 16px;}

.menu .log-in-area{height: auto;}

.h-550{height: 275px;}
.live-area .video-block .img-wrapper, .video-block .img-wrapper {height: 275px;}
.playbutton{width:90px;height:90px;}
.playbutton::before{transform: translateY(-50%) scale(0.7);}
.quiz-steps .block .info-block:before {transform: rotate(-24deg);}
.event-step-first .block a {min-height: 100px !important;}
}
@media only screen and (max-width: 330px) {
.winner-slot .winner-prize .font-40{margin-left: 15px !important;}
}

@media only screen and (max-width: 320px) {
.log-in-content .date-time p {font-size: 15px;}
}

