@font-face {font-family: 'Gill Sans MT'; src: url('../fonts/GillSansMT_Book.woff') format('woff'); font-weight: 300; font-style: normal; font-display: swap; }
/*@font-face {font-family: 'Futura BQ'; src: url('../fonts/FuturaBQ-Bold.woff') format('woff'),url('../fonts/FuturaBQ-Bold.woff2') format('woff2'); font-weight: 500; font-style: normal; font-display: swap; }*/
@font-face {font-family: 'Futura BQ'; src: url('../fonts/FuturaBQ-Bold.woff') format('woff'),url('../fonts/FuturaBQ-Bold.woff2') format('woff2'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face {font-family: 'Futura-Book'; src: url('../fonts/Futura-Book.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
/*@font-face {font-family: 'Futura Light'; src: url('../fonts/Futura-Light.woff') format('woff') url('../fonts/Futura-Light.woff2') format('woff2'); font-weight: normal; font-style: Regular; font-display: swap; }*/
@font-face {font-family: "Futura-Light";
  src: url("../fonts/futura-light/futura_light.eot"); /* IE9*/
  src: url("../fonts/futura-light/futura_light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/futura-light/futura_light.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/futura-light/futura_light.woff") format("woff"), /* chrome、firefox */
  url("../fonts/futura-light/futura_light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/futura-light/futura_light.svg#Futura-Light") format("svg"); /* iOS 4.1- */
}

.font-futura-bq{font-family: 'Futura BQ';}
.font-futura-book{font-family: 'Futura-Book';}

/* commom css */
*{margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
a{text-decoration: none; transition:  0.2s ease-in;}
a:hover{text-decoration: none;color: #CFFF03;}
body{font-size: 16px; color: #4D5858; line-height: 1.8; font-family: 'Gill Sans MT'; font-weight: 400;-webkit-transition: background-color 1s;transition: background-color 1s;word-break: break-word;}
body.loading {background: rgb(207,255,3);background-image: url(../images/preloader.png);background: url(../images/preloader.png) no-repeat center center ,linear-gradient(to bottom, rgba(207,255,3,1) 0%, rgba(212,243,2,1) 40%, rgba(227,212,1,1) 85%, rgba(250,162,0,1) 110%); -webkit-transition: background-color 0; transition: background-color 0; opacity: 0; -webkit-transition: opacity 0; transition: opacity 0; z-index: 9;height:100%;}
    
html{scroll-behavior: smooth;}
button{outline: 0; border: 0; background: transparent;}
button:focus{outline: 0;}
input:focus{outline: 0; box-shadow: none !important;}
a{color:#4D5858;}
h1{font-size: 60px;}
h2{font-size: 50px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 22px;}
h6{font-size: 20px;}
p{line-height: normal;word-break: break-word;}

.font-14{font-size: 14px;}
.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-22{font-size: 22px;}
.font-24{font-size: 24px;}
.font-25{font-size: 25px;}
.font-28{font-size: 28px;}
.font-30{font-size: 30px;}
.font-35{font-size: 35px;}
.font-40{font-size: 40px;}
.font-45{font-size: 45px;}
.font-50{font-size: 50px;}
.font-60{font-size: 60px;}
.font-70{font-size: 70px;}
.font-90{font-size: 90px;}
.font-100{font-size: 100px;}
.font-300{font-size: 300px;}
.border-blue{border: 1px solid #0C5B97;}
.border-grey{border: 2px solid #4D5858;}

.border-r2{border-radius: 2px;}
.border-r4{border-radius: 4px;}
.border-r5{border-radius: 5px;}
.border-r6{border-radius: 6px;}
.border-r8{border-radius: 8px;}
.border-r10{border-radius: 10px;}
.border-r20{border-radius: 20px;}
.border-r30{border-radius: 30px;}
.border-r40{border-radius: 40px;}
.border-r50{border-radius: 50px;}
.border-r60{border-radius: 60px;}

.border-50{border-radius: 100%;}
.br-yellow{border:1px solid #CFFF03;}
.br-white{border:1px solid #ffffff;}

.pt30{padding-top:30px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}
.pt150{padding-top:150px;}
.pt200{padding-top:200px;}
.pt250{padding-top:250px;}
.pt300{padding-top:300px;}
.pt350{padding-top:350px;}

.t-black{color: #000;}
.t-yellow{color: #CFFF03;}

.h-550{height:550px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}

.bg-black{background-color: #000000;}
.bg-grey{background-color: #4D5858;}
.bg-sky{background-color: #45C2B1;}
.bg-yellow{background-color: #CFFF03;}
.bg-light-white{background-color:rgba(255,255,255,0.46);}

.btn-grey{background-color: #4D5858;}
.btn-red{background-color: #D90769;}
.shadow{box-shadow: 0 2px 60px rgba(0, 0, 0, 0.13) !important;}
.form-control{border: 0;}
.form-control:focus{box-shadow: none; outline: 0;background-color: #4D5858 !important;color: #ffffff !important;}
.relative{position: relative;}
.form-control::placeholder{color: #ffffff !important;}
.text-underline{text-decoration: underline !important;}
.pointer{cursor: pointer;}

.navbar{padding: 10px 50px;}
.container-fluid{padding: 0 50px;}
/* header css */
.navbar-light .navbar-brand{color:#4D5858;}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{color:#4D5858;}
.menu{position: absolute; left: 0; right: 0; top: 10px;z-index:2;}
.menu .event-text,.menu .event-grey,.menu .event-yellow{line-height: normal;}
.menu .event-grey  span,.menu .event-yellow span{top:5px;}

.menu .event-text:before{content: "";position: absolute;right:-70px;top:-10px;background:url(../images/plus-yellow.png) no-repeat; width:44px;height:44px;}
.menu .event-text span{font-size:100px;font-family: 'Futura BQ';}
.menu nav ul li a{min-width:300px;}
.menu nav ul li a img{margin-left: 10px;}

.event-schedule .right-menu ul{display: none !important;}
.event-schedule.eg-yellow .event-text{display: block !important;}
/*log-in-page css*/
.event-center{background: rgb(207,255,3);background: linear-gradient(to bottom, rgba(207,255,3,1) 0%, rgba(212,243,2,1) 40%, rgba(227,212,1,1) 85%, rgba(250,162,0,1) 110%);height:100vh;}
/*.event-center{background: rgb(207,255,3);background: linear-gradient(to bottom, rgba(207,255,3,0.97) 0%, rgba(212,243,2,0.95) 23%, rgba(227,212,1,0.97) 60%, rgba(250,162,0,0.98) 91%, rgba(255,154,0,1) 100%);}*/
.launch-block{max-width:438px;}
.launch-block:before{content: "";position: absolute;right:-34px;top:-34px;background:url(../images/plus.png) no-repeat;width: 34px;height:34px;}
.launch-block .btn-wrapper a{width:90px;height:90px;transition: all 0.2s;-webkit-transition:all 0.2s;}
.launch-block .btn-wrapper a:hover{background-color: #353d3d;}
.launch-block .btn-wrapper a:hover img{transform: scale(1.1);}

.launch-block .form-control{color: #ffffff;}
.launch-block .form-control::placeholder:hover,.launch-block .form-control::placeholder:focus{color: red;}
.language-wrapper {bottom:25px;right:30px;}
.language-wrapper a.t-yellow:hover{color:#CFFF03;}
.language-wrapper a.t-grey:hover{color:#4D5858;}
.logout{border:1px solid #CFFF03;}
.eg-grey .logout:hover,.eg-yellow .logout:hover{background-color:#ffffff;color:#4D5858 !important;}

.right-menu .right-container .account img{max-width:60%;}

/*event-schedule-page*/
.event-schedule{background-size: cover;background-repeat: no-repeat;padding-bottom:100px;}
.event-schedule .menu .event-grey,.event-schedule .menu .event-yellow{display: none !important;}
.event-schedule .nav ul{display: none !important;}
.event-schedule .right-menu{margin-left:auto !important;}
.event-schedule .event-text{display: block !important;}
.event-schedule .logout:hover{background-color:#CFFF03;border:1px solid transparent;color:#4D5858 !important;}
.event-schedule{background-size: cover;min-height:100vh;}
.event-schedule .bottom-part .language-wrapper a.t-grey{display: none;}
.event-schedule .right-menu h4{color: #CFFF03 !important;}
.event-schedule .schedule-scroll .block .name-block{background-color: rgba(255,255,255,0.46);min-height:220px;line-height: normal;}
.event-schedule .schedule-scroll .block .info-block:before{content: "";position: absolute;right:5px;top:5px;width:14px;height:14px;background:url(../images/event-plus.png) no-repeat;}
.event-schedule .schedule-scroll .block .info-block .date{min-width:110px;position: relative;width:98px;}
.event-schedule .schedule-scroll .block .info-block .date .numb{padding-left: 10px;}
.event-schedule .schedule-scroll .block .info-block .line{width: 100%;height:1px;background-color:#CFFF03;transform: rotate(-40deg);}
.event-schedule .schedule-scroll .block{max-width:386px;transition: all 0.3s ease-in;}
.event-schedule .schedule-scroll .block:hover .name-block{background-color: rgba(207,255,3,0.8);color:#ffffff;}
.event-schedule .schedule-scroll .block .info-block{background-color:#4D5858;}
/*.schedule-scroll .container-fluid{max-width:1500px;}*/
.schedule-scroll > .container-fluid > .row{overflow-x: scroll;}

.schedule-scroll .container-fluid .row::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 4px;background-color:rgba(255,255,255,0.46);} 
.schedule-scroll .container-fluid .row::-webkit-scrollbar{width: 4px; background-color:transparent;height: 10px;}
.schedule-scroll .container-fluid .row::-webkit-scrollbar-thumb {position:absolute;right:0;border-radius: 4px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #CFFF03; width:40px !important;bottom:-100px;}

/*event-steps-first-page*/
.event-steps{background-size: cover;min-height:100vh;padding-bottom:100px;}
.eg-grey .menu .event-text,.event-steps.eg-grey .menu .event-yellow{display: none !important;}
.eg-grey .language-wrapper a.t-yellow{display: none !important;}
.eg-grey .language-wrapper a.t-grey:hover{color: #4D5858;}
.event-step-first .block{max-width:370px;}
.event-step-first .block a{min-height:310px !important;}
.event-step-first .block .text-wrapper{line-height: normal;}

.eg-yellow .event-text,.eg-yellow .event-grey{display: none !important;}

/*allocate-page*/
.left-tickets .ticket-text{line-height: normal;}
.left-tickets .ticket-text .numb{margin: 0 50px;}


/*reward-page*/
.rewards{background-size: cover;min-height:100vh;padding-bottom:100px;}
.rewards-area .img-wrapper.right{max-width:320px;margin:0 auto;}
.rewards-area .img-wrapper p{line-height: normal;}
.ticket-area .text-wrapper{line-height: normal;}

.ticket{background-size: cover;min-height:100vh;padding-bottom:100px;}


.imgvideo {cursor: pointer; }
.playbutton {border:2px solid rgba(255,255,255, 0.9);border-radius:50%;position: absolute; top: 50%; left: 0;right:0; width: 109px; height: 109px; margin: 0 auto; z-index: 10;transform: translateY(-50%);}
.playbutton::before{content: ""; position: absolute; left: 5px; right: 5px; top: 50%; width: 0; height: 0; border-top: 30px solid transparent; border-left: 50px solid rgba(255,255,255, 0.9); border-bottom: 30px solid transparent; transform: translateY(-50%);margin: 0 auto}
.ytvideo {position: absolute;margin: 0; padding: 0; background-position: center; background-size: contain; background-repeat: no-repeat; -webkit-background-size: cover;background-size: cover;cursor: pointer;height: 100%;top:0;left:0;right:0;bottom:0;z-index:1;}
.ytvideo iframe {border-style: none;height: 100%;width: 100%;}
.ytvideo .seo {display: none;}
.video-block .img-wrapper{background-size: cover;height:100%;position: relative;}
.video-block .img-wrapper .inner-wraper{height:100%;}
.video-block .img-wrapper .inner-wraper:before{content:"";position: absolute;left:0;right:0;top:0;bottom:0;margin:0 auto;background-color: rgba(0,0,0,0.60);z-index: 1;}

.quiz-area{background-size: cover;min-height:100vh;padding-bottom: 100px;}

.quiz-steps .quizs{background-color: rgba(255,255,255,0.46);line-height: normal;}
/*.quiz-steps .quizs p{font-family: 'Futura-Book';}*/
.quiz-steps .block{transition: all 0.3s;}
.quiz-steps .block.br-yellow{border:2px solid #CFFF03;}
.quiz-steps .block .info-block.bg-grey:hover{background-color: #45C2B1;}
.quiz-steps .block .info-block.bg-sky:hover{background-color: #4D5858;}

.quiz-steps .block .name-block{background-color: rgba(255,255,255,0.46);min-height:220px;line-height: normal;}
.quiz-steps .block .info-block .date{position: relative;}
.quiz-steps .block .info-block .date:after{content: "";position: absolute;height:2px;background-color: #CFFF03;left:0;right:0;bottom:0;margin:0 auto;top:50%;transform: rotate(-45deg);width:100%;}

.quiz-steps .msg-container{background-color:rgba(255,255,255,0.88);height:100%;line-height: normal;}
.quiz-steps .msg-container .msg-content{left:0;right:0;top:50%;transform: translateY(-50%);}

/*product_slider*/

.product_slider{background-size: cover;min-height:100vh;padding-bottom: 130px;} 
/*.product_slider .container-fluid{max-width:1700px;}*/

.eg-grey .event-yellow{display: none !important;}

.eg-yellow .language-wrapper a.t-grey{display: none !important;}
.eg-yellow .right-menu h4{color:#CFFF03;}


.progress {position:absolute;bottom:-90px;display: block; left:0px;right:0px;width: calc(100% - 100px); height: 10px; border-radius: 4px; overflow: hidden; background-color:rgba(255,255,255,0.46); background-image: linear-gradient(to right, #CFFF03, #CFFF03); background-repeat: no-repeat; background-size: 0 100%;transition: background-size .4s ease-in-out;margin: 0 auto;}
.content {margin: auto;}
.image {min-height:430px;position: relative;outline: none;}
.image img{position: absolute;left:0;right:0;top:50%;transform: translateY(-50%);margin: 0 auto;}
.sr-only {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }
.slick-prev{display: none !important;}
.slick-next{position: absolute;right:-15px;top:50%;transform: translateY(-50%);width:75px;height:75px;cursor: pointer !important;z-index: 2;}
.slick-next:after{content:"";position: absolute; right:20px;top:50%;width: 61px; height: 74px; background: url(../images/next-slide.png) no-repeat; transform: translateY(-50%);}

.slick-arrow{text-indent:-999999 !important;color: transparent !important;}
.slick-track{top:300px !important;}
.slick-slide{position: relative; top: 50%; transform: translateY(-50%);}

.slider .text-wrapper{line-height: normal;min-height: 110px;}

.tickets.pro-slider{margin-top:-30px;}
.tickets.pro-slider .slider .text-wrapper{min-height:auto;font-weight: normal;}
.tickets.pro-slider .slick-next:after{background:url(../images/next-slide-grey.png) no-repeat;}
.tickets.pro-slider .progress{bottom:-40px;}
/*.tickets.pro-slider .slider .numbers .numb{color: #ffffff; -webkit-text-fill-color: #4D5858; -webkit-text-stroke-width: 3px; -webkit-text-stroke-color: #ffffff;}*/
.tickets.pro-slider .numbValue{background-color: transparent; width: 85px ; min-width: 30px ; color: #ffffff; -webkit-text-fill-color: #4D5858; -webkit-text-stroke-width: 2px ; -webkit-text-stroke-color: #ffffff; font-size: 40px; }
.increaseNumb,.decreaseNumb{cursor: pointer;height:52px;}

.slick-initialized .slick-slide:focus{outline: none;}

.winner-slot{background-color: rgba(255,255,255,0.46);}
.winner-slot .winner-box{background-color: rgba(255,255,255,0.46);}
.winner-slot .winner-box .win-name{color: #ffffff; -webkit-text-fill-color: #4D5858; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: #ffffff;}

.live-chat{background-color: rgba(255,255,255,0.46);}
.live-area .video-block{height:600px;}

.menu-popup .modal-content{border: 4px solid #CFFF03;}
.menu-popup .modal-body .text-wrapper ul li a{min-width:190px;}
.menu-popup .modal-body .text-wrapper ul li.middle a:before{content: "";position: absolute;top:0;width:100%;height:1px;background-color: #CFFF03;left:0;right:0;}
.menu-popup .modal-body .text-wrapper ul li.middle a:after{content: "";position: absolute;bottom:0;width:100%;height:1px;background-color: #CFFF03;left:0;right:0;}
.close,.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{opacity: 1;}
.close{width:30px;height:30px;line-height:5px;right: -5px;top: -5px;}

.mobile-btn-wrapper a{margin: 0 10px;}
.eg-yellow .mobile-icon.grey-icon{display:none !important;}
.eg-grey .mobile-icon.white-icon{display:none !important;}

.menu-popup .form-control:focus{background-color: #ffffff !important;}

.right-container .dropdown-toggle::after{display: none;}
.bottom-part .language-wrapper a img{padding-right:20px;}
.right-menu ul{margin-right:30px;}

.menu-popup .modal-body .form-control,.menu-popup .modal-body .form-control:focus{color: #4D5858 !important;}

.right-container .dropdown-menu{left:50px;background-color: #4D5858;}
.right-container .dropdown-menu .dropdown-item:hover,.right-container .dropdown-menu .dropdown-item:focus{background-color: #CFFF03;color:#4D5858 !important;}

#show-more-content {display: none;}
.event-schedule .menu .right-menu .account a img.grey{display: none !important;}
.event-schedule .menu .right-menu .account a img.white{display: block !important;}

.eg-yellow .right-menu .right-container .account .grey{display: none !important;}
.eg-yellow .right-menu .right-container .account .white{display: block !important;}

.choose-filter .photo-bg{background-color: rgba(255,255,255,0.46);}
.choose-filter .item .item-container{border:3px solid #ffffff;border-radius:8px;}
.choose-filter .item .item-container .select-filter{border:3px solid #ffffff;}
.photo-area{height:100% !important; min-height:100vh;background-size: cover; padding-bottom: 100px;}
.select-filter img{width: 100%;}


.language-wrapper a{position: relative;padding-left: 25px;}
.language-wrapper a img{position: absolute;left:-35px;}

.slider {padding-right:100px;}


.quiz-steps .block .info-block:before {content: ""; position: absolute; width: auto; height: 1px;background-color: #CFFF03; transform: rotate(-41deg); top: 50%; left: -40px;right:-40px;margin: 0 auto;}
.quiz-steps .block .info-block.bg-sky:before{background-color:#ffffff;}

.quiz-steps .block .info-block .date {min-height: 190px; position: relative;line-height:110px;}
.quiz-steps .block .info-block .line {width: 100%; height: 1px ; background-color: #CFFF03; transform: rotate(-30deg);}
.quiz-steps .block .info-block .date:after{display: none;}

.quiz-steps .block .info-block .numb,.quiz-steps .block .info-block .month{line-height: normal;}

.quiz-steps .winner-slot #textButton{display: none !important;}



/*loader*/
#loader-wrapper {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000;}
#loader {display: block; position: relative; left: 0; top: 0; right:0; text-align: center; bottom:0; z-index: 1001;}
.loader-inner {display:inline-block; font-size:0px; padding:0px;}
.loader-inner span {vertical-align:middle; border-radius:100%; display:inline-block; width:15px; height:15px; margin:3px 2px; -webkit-animation:loader1 0.8s linear infinite alternate; animation:loader1 0.8s linear infinite alternate;}
.loader-inner span:nth-child(1) {-webkit-animation-delay:-1s; animation-delay:-1s; background:rgba(255, 255, 255,0.6); }
.loader-inner span:nth-child(2) {-webkit-animation-delay:-0.8s; animation-delay:-0.8s; background:rgba(255, 255, 255,0.8);}

@keyframes loader1 {
   from {transform: scale(0, 0);}
   to {transform: scale(1, 1);}
}
@-webkit-keyframes loader1 {
   from {-webkit-transform: scale(0, 0);}
   to {-webkit-transform: scale(1, 1);}
}

#loader-wrapper .loader-section {position: fixed; top: 0; width: 51%; height: 100%; background: rgb(207,255,3) linear-gradient(to bottom, rgba(207,255,3,0.97) 0%, rgba(212,243,2,0.95) 23%, rgba(227,212,1,0.97) 60%, rgba(250,162,0,0.98) 91%, rgba(255,154,0,1) 100%); z-index: 1000; -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */ -ms-transform: translateX(0);  /* IE 9 */ transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */ }
#loader-wrapper .loader-section.section-left {left: 0;}
#loader-wrapper .loader-section.section-right {right: 0;} 

@-webkit-keyframes spin {
	        0%   { 
	            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	            -ms-transform: rotate(0deg);  /* IE 9 */
	            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	        }
	        100% {
	            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	            -ms-transform: rotate(360deg);  /* IE 9 */
	            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	        }
	    }
	    @keyframes spin {
	        0%   { 
	            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	            -ms-transform: rotate(0deg);  /* IE 9 */
	            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	        }
	        100% {
	            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	            -ms-transform: rotate(360deg);  /* IE 9 */
	            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	        }
	    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */ -ms-transform: translateX(-100%);  /* IE 9 */ transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */ -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); }
    .loaded #loader-wrapper .loader-section.section-right {-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */ -ms-transform: translateX(100%);  /* IE 9 */ transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */ -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);}   
    .loaded #loader {opacity: 0; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
    .loaded #loader-wrapper {visibility: hidden; -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */ -ms-transform: translateY(-100%);  /* IE 9 */ transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */ -webkit-transition: all 0.3s 1s ease-out; transition: all 0.3s 1s ease-out; }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {display: none; }


.result-scroll  .winner-slot>.container>.row{height:600px;overflow-y: scroll;}
.result-scroll  .winner-slot>.container>.row::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 4px;background-color:rgba(255,255,255,0.46);} 
.result-scroll  .winner-slot>.container>.row::-webkit-scrollbar{width: 4px; background-color:transparent;height: 10px;}
.result-scroll  .winner-slot>.container>.row::-webkit-scrollbar-thumb {position:absolute;right:0;border-radius: 4px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #4D5858; width:40px !important;bottom:-100px;}


.logout-popup a{margin:0 20px;}
.launch-block .forgot-password:hover,.launch-block .forgot-password:focus {color:#4D5858;}
.launch-block .form-group .icon{right:20px;top:12px;}